<!DOCTYPE html>
<html>
<head>
    <title>College Price Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="http://placehold.it/50x50">
              </a>
                <p class="navbar-brand">
                    <a href="#">
                        College Price Index
                    </a>
                </p>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 chartGrid">
                <img src="http://placehold.it/900x500" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 chartGrid">
                <div id="maxwidth" >
                  <svg class="chart" id="chart" >
                  </svg>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 chartGrid">
                <img src="http://placehold.it/500x500" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-12 chartGrid">
                <img src="http://placehold.it/500x500" class="img-responsive">
            </div>
        </div>
    </div>


    <script >

        var data = [4, 8, 15, 16, 23, 42];

        var width = $("#maxwidth").width(),
            barHeight = 20;

        var x = d3.scale.linear()
            .domain([0, d3.max(data)])
            .range([0, width]);

        var chart = d3.select(".chart")
            .attr("width", width)
            .attr("height", barHeight * data.length);

        var bar = chart.selectAll("g")
            .data(data)
          .enter().append("g")
            .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

        bar.append("rect")
            .attr("width", x)
            .attr("height", barHeight - 1);

        bar.append("text")
            .attr("x", function(d) { return x(d) - 3; })
            .attr("y", barHeight / 2)
            .attr("dy", ".35em")
            .text(function(d) { return d; });

        </script>

</body>

</html>
